.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NoChildErrors {
  background-color: #006622;
}

.ChildErrors {
  background-color: #662200;
}

.App-dropzone {
  text-align: center;
  cursor: copy;
  border: 2px dashed black;
  color: white;
  background: #30333f;
  opacity: .5;
  padding: 10px;
  border-radius: 20px;
}

.App-dropzone p {
  color: white;
  font-weight: bold;
}